{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="flex items-center justify-center min-h-screen">
        <div class="card card-border shadow" id="login-card">
            <div class="card-body">
                {% if error %}
                    <div class="mb-2 bg-error p-4 text-error-content rounded">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <form action="{{ path('admin_login') }}" method="post">
                    <div class="block mb-2">
                        <label for="username" class="block mb-1">Email:</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" required class="input">
                    </div>
                    <div class="block mb-2">
                        <label for="password" class="block mb-1">Password:</label>
                        <input type="password" id="password" name="_password" required class="input">
                    </div>
                    {# If you want to control the URL the user is redirected to on success
        <input type="hidden" name="_target_path" value="/account"> #}
                    <div class="flex justify-end">
                        <button type="submit" class="btn btn-neutral">login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
